@model Comp7071_A2.Areas.Housing.Models.Application

@{
    ViewData["Title"] = "Application Details";
}

<h2>Application Details</h2>

<table class="table">
    <tr>
        <th>Asset Name:</th>
        <td>@Model.Asset.ReadableName</td> 
    </tr>
    <tr>
        <th>Application Status:</th>
        <td>@Model.Status</td> 
    </tr>
</table>

<a asp-action="Index">Back to Applications</a>
