@model Comp7071_A2.Areas.Housing.Models.AssetDamage

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>AssetDamage</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="AssetID" class="control-label">Asset</label>
                <select asp-for="AssetID" class="form-control" asp-items="ViewBag.AssetID">
                    <option value="">-- Select Asset --</option>
                </select>
            </div>
            <div class="form-group">
                <label asp-for="RenterID" class="control-label">Renter</label>
                <select asp-for="RenterID" class="form-control" asp-items="ViewBag.RenterID">
                    <option value="">-- Select Renter --</option>
                </select>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label">Description of Damage</label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RecordedDate" class="control-label">Date of Damage</label>
                <input asp-for="RecordedDate" class="form-control" />
                <span asp-validation-for="RecordedDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FixedDate" class="control-label">Date of Fix</label>
                <input asp-for="FixedDate" class="form-control" />
                <span asp-validation-for="FixedDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label for="damagePhotos">Upload Damage Images(You may select multiple):</label>
                <input type="file" name="damagePhotos" class="form-control" multiple/>
            </div>
            <div class="form-group">
                <input id="create-asset-damage" type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

